<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>sclomobile</servlet-name>
        <servlet-class>sclomobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioServlet</servlet-name>
        <servlet-class>Relatorios.RelatorioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>samexport</servlet-name>
        <servlet-class>samexport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReuniaoServ</servlet-name>
        <servlet-class>Reuniao.ReuniaoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>Importacao.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Documento</servlet-name>
        <servlet-class>Documento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutenticaServlet</servlet-name>
        <servlet-class>Seguranca.AutenticaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sclomobile</servlet-name>
        <url-pattern>/sclomobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioServlet</servlet-name>
        <url-pattern>/RelatorioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>samexport</servlet-name>
        <url-pattern>/samexport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReuniaoServ</servlet-name>
        <url-pattern>/ReuniaoServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Documento</servlet-name>
        <url-pattern>/Documento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticaServlet</servlet-name>
        <url-pattern>/AutenticaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/conn</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
